/* ***** FONT FAMILIES */

/* 
font-family: 'Barlow', sans-serif;
font-family: 'Bebas Neue', cursive;
font-family: 'PT Serif', serif;
font-family: 'Yellowtail', cursive; 
*/

@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@200&family=Bebas+Neue&family=PT+Serif:ital@1&family=Yellowtail&display=swap");

/**** HEADER SECTION **************** */
.m-header {
	padding-top: 2em;
}

.site-logo {
	width: 110px;
	font-family: "Bebas Neue", cursive;
	text-decoration: none;
	color: #797e83;
}

.nav {
	margin-top: 1.5em;
}

.nav a {
	display: block;
	color: #797e83;
	font-family: 'Barlow', sans-serif;
	font-weight: 900;
	font-size: 1.3em;
	text-align: center;
	padding: .4em;
	text-decoration: none;
	border-bottom: 1px solid;
}
	
header ul {
	list-style: none;
}
	


